
/* Tablet */
@media (min-width: 481px) and (max-width: 768px){

}

/* Mobile phone */
@media (max-width: 480px) {
    body{
        width: 100%;
    }

    .header-bar{
        position: absolute;
    }

    .nav-list li, .register-list li {
        display: none;
    }

    .nav-list{
        height: 55px;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    .nav-list .nav-item a{
        display: block;
        font-size: 14px;
    }

    .nav-list .logo a{
        font-size: 28px;
    }  

    .header-bar-btn{
        color: White;
        font-size: 24px;
        margin-right: 16px;
    }

    .dropdown-menu{
        display: block;
    }


    .dropdown-menu.open{
        height: auto;
    }





    .content-box{
        left: 15px;
    }

    .heading-box .heading{
        font-size: 36px;
    }

    .heading-box .subheading{
        margin: 5px auto;
        font-size: 16px;
    }

    .btn-01, .btn-02{
        margin: 16px auto;
        width: calc(100% - 15px);
        
    }

    .img-bg{
        position: relative;
        top: 0;
        height: 680px;
    }

    .phone-img{
        display: none;
    }

    .mentor-img-list,
    .topic-img-list{
        grid-auto-columns: 100%;
    }

    .arr{
        display: none;
    }


    .container{
        height: auto;
    }

    .container-content{
        line-height: 100px;
        margin: 32px auto 0 auto;
    }

    .container-content .container-heading{
        line-height: 50px;
        margin-bottom: 32px;
    }
    .container-heading h1{
        font-size: 32px;
    }

    .container-subheading{
        margin-bottom: 32px;
    }

    .slider-content{
        height: auto;
    }

    .slider-heading h1{
        font-size: 18px;
    }

    .slider-subheading p{
        font-size: 14px;
    }

    .call-action{
        margin-top: 0;
        text-align: center;
        height: 300px;
    }

    .calling-text, .calling-btn{
        display: block;
        width: 100%;
        font-size: 18px;
    }

    .calling-btn{
        margin-top: 32px;
    }

    .calling-btn button{
        font-size: 18px;
        padding: 18px 112px;
    }

    .footer{
        display: none;
    }
}
